# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# IDE specific files
.vscode/
.idea/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Build directories
build/
dist/

# Debug logs
npm-debug.log*

# macOS
.DS_Store